{% extends 'student/master.html' %} 
{% block title %}
     AWs
{% endblock %}
{% load static %}


{% block body %}

<div style="height: 0px; width:100%;">
    <marquee behavior="" direction=""><h1><span id="d1">T</span>he<span id="d1">k</span>iran<span id="d1">A</span>cademy</h1></marquee>
</div> 

</div>
</div>

<div class="container" align="justify" style="font-family:Inter,sans-serif; font-size:18px; margin-top:50px;">
    
        <h1>What is AWS?</h1>
   
    <br>
    <p>AWS (Amazon Web Services) is a comprehensive, evolving cloud computing platform provided by Amazon that includes a mixture of infrastructure-as-a-service (IaaS), platform-as-a-service (PaaS) and packaged-software-as-a-service (SaaS) offerings. AWS services can offer an organization tools such as compute power, database storage and content delivery services.</p>

    <p>Amazon.com Web Services launched its first web services in 2002 from the internal infrastructure that Amazon.com built to handle its online retail operations. In 2006, it began offering its defining IaaS services. AWS was one of the first companies to introduce a pay-as-you-go cloud computing model that scales to provide users with compute, storage or throughput as needed.</p>
    <p>AWS offers many different tools and solutions for enterprises and software developers that can be used in data centers in up to 190 countries. Groups such as government agencies, education institutions, non-profits and private organizations can use AWS services.</p>
    

    <strong>Python Use Cases</strong> 
    <ul><br>
        <li>Creating web applications on a server</li>
        <li>Building workflows that can be used in conjunction with software</li>
        <li>Connecting to database systems</li>
        <li>Reading and modifying files</li>
        <li>Performing complex mathematics</li>
        <li>Processing big data</li>
        <li>Fast prototyping</li>
        <li>Developing production-ready software</li>
    </ul>
    <p>Professionally, Python is great for backend web development, data analysis, artificial intelligence, and scientific computing. Developers also use Python to build productivity tools, games, and desktop apps.</p>  
    <strong>Features and Benefits of Python</strong> 
    <ul><br>
        <li>Compatible with a variety of platforms including Windows, Mac, Linux, Raspberry Pi, and others</li>
        <li>Uses a simple syntax comparable to the English language that lets developers use fewer lines than other programming languages</li>
        <li>Operates on an interpreter system that allows code to be executed immediately, fast-tracking prototyping</li>
        <li>Can be handled in a procedural, object-orientated, or functional way</li>
    </ul>
    <strong>Python Syntax</strong>
    <ul><br>
    <li>Somewhat similar to the English language, with a mathematical influence, Python is built for readability</li>
    <li>Unlike other languages that use semicolons and/or parentheses to complete a command, Python uses new lines for the same function</li>
    <li>Defines scope (i.e., loops, functions, classes) by relying indentation, using whitespace, rather than braces (aka curly brackets)</li>
    </ul>
    <br>
    <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLzuuMLjMuEJkmMmID_gUscsbjk9f5N9Jhgw&usqp=CAU" alt="">
    </div><br>
    <strong>Python Flexibility</strong><br><br>
    <p>Python, a dynamically typed language, is especially flexible, eliminating hard rules for building features and offering more problem-solving flexibility with a variety of methods. It also allows uses to compile and run programs right up to a problematic area because it uses run-time type checking rather than compile-time checking.</p>
    <strong>Python and AI</strong><br><br>
    <p>AI researchers are fans of Python. Google TensorFlow, as well as other libraries (scikit-learn, Keras), establish a foundation for AI development because of the usability and flexibility it offers Python users. These libraries, and their availability, are critical because they enable developers to focus on growth and building.</p>

    <div class="text-center">
        <img src="https://images.idgesg.net/images/article/2017/05/artificial_intelligence_machine_learning_network_thinkstock_671750598-100724432-large.jpg" alt="">
    </div>
    <br>
    <strong>Good to know</strong><br><br>
    <p>The Python Package Index (PyPI) is a repository of software for the Python programming language. PyPI helps users find and install software developed and shared by the Python community.</p>
    <br><br>
    <div class="text-center">
        <video src="{% static 'vid/py.mp4' %}" controls preload=""></video> <!--- loop muted autoplay="autoplay" --->
    </div>

    <br><br><br>
    
</div> 
<footer class="bg-dark p-2 text-center">
    <div class="container">
      <p class="text-white">All Right Reserved By @website Name</p>
    </div>
  </footer>
</div>
{% endblock %}


