{% extends 'student/master.html' %}
{% block title %}
  Java
{% endblock %}
{% load static %}


{% block body %}

<div style="height: 0px; width:100%;">
    <marquee behavior="" direction="">
        <h1><span id="d1">T</span>he<span id="d1">k</span>iran<span id="d1">A</span>cademy</h1>
    </marquee>
</div>

</div>
</div>

<div class="container" align="justify" style="font-family:Inter,sans-serif; font-size:18px; margin-top:50px;">

    <h1>What is Java?</h1>

    <br>
    <p>Java is a widely-used programming language for coding web applications. It has been a popular choice among
        developers for over two decades, with millions of Java applications in use today. Java is a multi-platform,
        object-oriented, and network-centric language that can be used as a platform in itself. It is a fast, secure,
        reliable programming language for coding everything from mobile apps and enterprise software to big data
        applications and server-side technologies.</p><br>

    <h2>How does Java work?</h2><br>
    <P>All programming languages are a means to communicate with machines. Machine hardware only responds to electronic
        communication. High-level programming languages like Java act as a bridge between human language and hardware
        language. To use Java, a developer needs to understand two things:</p>
    <ul>
        <li><b>Java language and APIS:</b></li>
        <p>This is the front-end communication between the developer and the Java platform.</p>
        <li><b>Java virtual Machine:</b></li>
        <p>This is the back-end communication between the Java platform and the underlying hardware.</p>
    </ul>
    <br>
    <h2>Java Syntax</h2><br>
    <div class="text-center">
        <img src="https://introcs.cs.princeton.edu/java/11cheatsheet/images/hello.png" alt="" height="250px">
    </div>
    <br>
    <br>



    <h2>What is Java API?</h2><br>
    <p>Java defines the syntax and semantics of the Java programming language. This includes the basic vocabulary and
        rules used to write algorithms such as primitive data types, if/else blocks, loops, etc.</p>
    <p>APIs are important software components bundled with the Java Platform. These are pre-written Java programs that
        can plug and play existing functionality into your own code. For example, you could use Java APIs to get the
        date and time, perform mathematical operations, or manipulate text.Any Java application code written by a
        developer will typically combine new and pre-existing code from Java APIs and Java libraries.</p><br>
    <h2>What is Java Virtual Machine?</h2><br>
    <p>The Java Virtual Machine acts as an additional abstraction layer between the Java platform and the underlying
        machine hardware. Java source code can run only on those machines that have JVM installed on them. The answer to
        why the Java Virtual Machine is needed lies in the history of programming.</p><br>
    <h2>What is Java used for?</h2>
    <ul>
        <li>Mobile Application Development</li>
        <li>Artificial Intelligence</li>
        <li>Big Data</li>
        <li>Software Development</li>
        <li>Blockchain Mobile Development</li>
        <li>Internet of Things</li>
        <li>Web Development</li>
    </ul><br>
    <h2>What is the difference between Java and JavaScript?</h2><br>
    <p>Due to naming similarities, there has been a bit of confusion between Java and JavaScript over the years. The
        fact, however, is that they are as different as the words ham and hamster. They only have one or two
        similarities: they are both used for programming software, and they both have a name consisting of the word
        Java.</p>
    <p>Outside of those two points, the truth is both languages are very different, with one that stands out above the
        rest. JavaScript is an interpreted language only, whereas Java is a language that first gets compiled and then
        interpreted into a working executable file. This separation may seem like an insignificant difference, but the
        truth is that it changes the way programmers handle the task of development.</p>
    <p>Java has a few unique features that are important to consider when going down the rabbit hole that is the world
        of Java programming. Before wrapping up this post, lets look at some of the main features and discuss how they
        affect you and your programming needs.Java tends to be easier to use than many languages it is similar to, as it
        takes a simplistic approach to handle pointers and operator overloading.</p><br>
    <h2>Features of Java</h2><br>
    <ul>
        <li>Simple</li>
        <li>Portable</li>
        <li>Object-Oriented</li>
        <li>Two-Stage Excution</li>
        <li>Secure</li>
        <li>Dynamic</li>
        <li>Distributed</li>
        <li>Multithreaded</li>
    </ul>
    <br><br>
    <div class="text-center">
        <img src="https://b1410584.smushcdn.com/1410584/wp-content/uploads/2020/05/Java-Programmer.jpg?lossy=0&strip=1&webp=1"
            alt="" height="500px" width="100%">
    </div>
    <br><br>
</div>
<footer class="bg-dark p-2 text-center">
    <div class="container">
        <p class="text-white">All Right Reserved By @website Name</p>
    </div>
</footer>

</div>
{% endblock %}